@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 100;
  src: url('YekanIran/woff/IRANYekanX-Thin.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 200;
  src: url('YekanIran/woff/IRANYekanX-UltraLight.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-UltraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 300;
  src: url('YekanIran/woff/IRANYekanX-Light.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 500;
  src: url('YekanIran/woff/IRANYekanX-Medium.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 600;
  src: url('YekanIran/woff/IRANYekanX-DemiBold.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-DemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 800;
  src: url('YekanIran/woff/IRANYekanX-ExtraBold.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 900;
  src: url('YekanIran/woff/IRANYekanX-Black.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 950;
  src: url('YekanIran/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 1000;
  src: url('YekanIran/woff/IRANYekanX-Heavy.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: bold;
  src: url('YekanIran/woff/IRANYekanX-Bold.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: normal;
  src: url('YekanIran/woff/IRANYekanX-Regular.woff') format('woff'),
  url('YekanIran/woff2/IRANYekanX-Regular.woff2') format('woff2');
}


